
/* Asterisk selecto to override default styles addes by the browser */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&display=swap');

/* Body */
body{
    font-family: 'Roboto Flex', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;

}

/* Header */
header{
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index:99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
}

h1{
    font-weight: bold;
}

/* Main content */
main{
    background-color: lightblue;

    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
}

/* Footer */
footer{
    background-color: orange;
}